<app-page-content titulo = "Cadastrar Venda">
  <form
    name="form"
    [formGroup]="form"
    #f="ngForm"
    novalidate
  >

        <div class="form-group">
      <mat-label>Selecione botijão</mat-label>
      <mat-select>
        <mat-option value="p13"> P13 </mat-option>
        <mat-option value="p45">P45</mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <mat-label>Selecione forma de pagamento</mat-label>
      <mat-select>
        <mat-option value="pix"> PIX</mat-option>
        <mat-option value="dinheiro">Dinheiro</mat-option>
        <mat-option value="cartao">Cartão</mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block"(click)="cadastrarVendas()">Cadastrar</button>
    </div>

  </form>
</app-page-content>
